.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #000;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.search {
  width: 25px;
}

.image {
  width: 30px;
}

.image-2 {
  width: 50px;
}

.div-block {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.big-h1-h1 {
  display: block;
  margin-top: 14px;
  font-size: 80px;
}

.image-3 {
  margin-top: -9px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px none #fff;
}

.feature-block {
  margin-right: 0px;
  margin-left: 10px;
  padding-right: 36px;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
}

.feature-text {
  margin-top: -15px;
  padding-top: 0px;
  font-size: 12px;
  line-height: 14px;
}

.heading-2 {
  margin-top: -84px;
}

.zsa {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-new {
  margin-top: 47px;
  margin-right: 120px;
  margin-left: 120px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-style {
  margin-top: -19px;
}

.grid-block {
  margin-top: -134px;
  margin-right: 15px;
  padding-top: 0px;
  border-right: 1px solid #fff;
}

.grid-block.last-box {
  border-right-style: none;
}